# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Environment variables
.env